:root {
  --pry-text: hsl(227, 12%, 61%);
  --sec-text: hsl(228, 39%, 23%);
  --dark-text: hsl(233, 12%, 13%);
  --light-text: hsl(0, 0%, 98%);
  --bright-red: hsl(12, 88%, 59%);
  --pale-red:hsl(13, 100%, 96%);
}