:root {
  --pry-color: hsl(227, 12%, 61%);
  --sec-color: hsl(228, 39%, 23%);
  --dark-color: hsl(233, 12%, 13%);
  --light-color: hsl(0, 0%, 98%);
  --bright-color: hsl(12, 88%, 59%);
  --pale-color:hsl(13, 100%, 96%);
}